/********************************************/
/* Stylesheets for authors                  */
/* Author: Miguel Ángel Ávila Rosas         */
/* Version: 0.1                             */
/* Created on: September 19, 2024           */
/* Updated on: September 19, 2024           */
/********************************************/

/************************************FONTS************************************/
@font-face {
    src: url(../fonts/arial.ttf);
    font-family: text_page;
}

/******************************GENERAL STYLE**********************************/

* {box-sizing:border-box;}

html {scroll-behavior: smooth;}

body{
    margin: 0;
    font-family: text_page;
    padding: 0;
    text-align: center;
}

.grid2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid5{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
/**********************************HEADER*************************************/

#header{
    background-color:rgb(50, 99, 205);
    color: rgb(255, 255, 255);
    height: 30%;
    margin-top: 0;
    border: 10px outset rgb(5, 8, 196);
}

/******************************NAVIGATION BAR*********************************/

#navigationBar{
    height: 100%;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 204, 0);
    border: 5px outset rgb(197, 157, 0);
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#navigationBar a {
    text-decoration: none; 
    color: #ffffff;
    padding-top: 1.25vh;
    border: 2px outset rgb(211,211,211,0.5);
}

#ejerciciosTotales select{
    text-decoration: none;
    color: #ffffff;
    padding-top: 1.25vh;
    font-size: 1.5rem;
    background-color: rgb(0, 153, 36);
}

#navigationBar a:hover {
    background-color: rgb(172, 138, 2);
}

#logOut{
    background-color: red;
        color: #ffffff;
        font-size: 1.25rem;
        width: 100%;
        margin-bottom: 5vh;
        border-top: 0;
}

#logOut:hover{
    background-color: rgb(176, 0, 0);
}

/**********************************LOGIN**************************************/

#cardTitle {
    background-color: rgb(50, 99, 205);
    color: #ffffff;
}

#loginForm {
    width: 50vh;
    margin: auto;
    margin-top: 30vh;
}

#submitButton{
    background-color: rgb(50, 99, 205);
    color: white;
    width: 20vh;
    height: 5vh;
    font-size: 1em;
}

#submitButton:hover{
    background-color: rgb(36, 70, 144);
}

/*******************************MAIN CONTENT**********************************/

#mainContent h2{
    color: rgb(34, 155, 87);
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    border: 1px solid rgb(211,211,211,0.5);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: auto;
}

.card a {
    text-decoration: none; 
    background-color: rgb(34, 155, 87);
    color: #ffffff;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
}

.card a:hover {
    background-color: rgb(27, 122, 68);
}

/**********************************FOOTER*************************************/

#footer{
    background-color:rgb(50, 99, 205);
    color: rgb(255, 255, 255);
    margin-top: 25vh;
    height: 20%;
    border: 10px outset rgb(5, 8, 196);
}

#caraFooter{
    width: 10vh;
    margin-left: 80%;
}

/***************************************MEDIA QUERIES (TABLET AND MOBILE)***************************************/

/*TABLET*/
@media only screen and (width<=880px) {

    /******************************NAVIGATION BAR*********************************/

    #navigationBar{
        height: 40%;
        border: 5px outset rgb(197, 157, 0);
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        font-size: 1.25rem;
    }

    /**********************************FOOTER*************************************/

    #caraFooter{
        width: 12.5vh;
        margin-left: 70%;
    }

}

@media only screen and (width<=650px) {

    /******************************GENERAL STYLE**********************************/

    .grid3{
        display: grid;
        grid-template-columns: 100%;
    }

    #ejerciciosTotales select {
        font-size: 0.9rem;
    }

    /*******************************MAIN CONTENT**********************************/

    #mainContent h2{
        font-size: 1.25rem;
    }

    .card {
        width: 80%;
    }

    /**********************************FOOTER*************************************/

    .grid2Footer{
        display: grid;
        grid-template-columns: 100%;
    }

    #caraFooter{
        width: 20vh;
        margin-left: 35%;
    }

}