/********************************************/
/* Stylesheets for authors                  */
/* Author: Miguel Ángel Ávila Rosas         */
/* Version: 0.1                             */
/* Created on: September 19, 2024           */
/* Updated on: September 19, 2024           */
/********************************************/

/**********************************MAIN CONTENT**************************************/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    border: 1px solid rgb(211,211,211,0.5);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 2vh;
}

.card button{
    width: 5%;
    height: 5vh;
    font-size: 1.5rem;
    border: 2px solid rgb(0, 0, 0);
    margin: 0 0 5vh 5vh;
    background-color: #ffffff;
}

button.modifiers{
    width: 15%;
    height: 7.5vh;
    color: #ffffff;
}

input{
    border: 2px solid #000;
    height: 5vh;
}

#random{
    background-color: #ffbb0e;
    border: 5px outset #cd960a;
    
}
    
#random:hover{
    background-color: #cc960c;
}

#stop{
    background-color: #ff0e0e;
    border: 5px outset #c00c0c;
}

#stop:hover{
    background-color: #cd0d0d;
}

#fast{
    background-color: #66ff0e;
    border: 5px outset #44a60b;
}

#fast:hover{
    background-color: #52ca0d;
}

#slow{
    background-color: #0e22ff;
    border: 5px outset #0916a5;
}

#slow:hover{
    background-color: #0c1cc9;
}

button:hover{
    background-color: #bababa;
}

.card a {
    text-decoration: none; 
    background-color: rgb(34, 155, 87);
    color: #ffffff;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
 }

.card a:hover {
    background-color: rgb(27, 122, 68);
}

.boxContent{
    border: 2.5px solid black ;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

#result{
    display: none;
}

.buttonInput{
    color: #b5b5b5;
    background-color: #000;
    border: 2.5px solid #b5b5b5;
    margin-top: 2.5vh;
}

.buttonInput:hover{
    color: #c0c600;
    border: 2.5px solid #c0c600;
}

/***************************************MEDIA QUERIES (TABLET AND MOBILE)***************************************/

/*MOVILE*/
@media only screen and (width<=650px) {

    /*******************************MAIN CONTENT**********************************/

    .card button{
        width: 10%;
    }

    button.modifiers{
        margin-left: -5px;
        width: 80%;
    }

}