/********************************************/
/* Stylesheets for authors                  */
/* Author: Miguel Ángel Ávila Rosas         */
/* Version: 0.1                             */
/* Created on: September 19, 2024           */
/* Updated on: September 19, 2024           */
/********************************************/

/**********************************MAIN CONTENT**************************************/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    border: 1px solid rgb(211,211,211,0.5);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 2vh;
}

.card a {
    text-decoration: none; 
    background-color: rgb(34, 155, 87);
    color: #ffffff;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
 }

.card a:hover {
    background-color: rgb(27, 122, 68);
}

#valuesList{
    margin: 5vh 0 5vh 15vh;

}

#calculator{
    display: grid;
    grid-template-columns: 50% 50%;
}

.values{
    width: 80%;
    height: 10vh;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid rgb(0, 0, 0);
}

#operandsList{
    margin: 10vh 24% 0 30%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.operands{
    width: 50%;
    font-size: 1.5rem;
    height: 8vh;
    margin-bottom: 5vh;
    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
}

.operands:hover{
    background-color: #bababa;
}

#result{
    margin-bottom: 5vh;
}

/***************************************MEDIA QUERIES (TABLET AND MOBILE)***************************************/

/*MOVILE*/
@media only screen and (width<=650px) {

    /*******************************MAIN CONTENT**********************************/

    h1{
        font-size: 1.5rem;
    }

    .operands{
        width: 100%;
        font-size: 1.5rem;
        margin-right: 3vh;
    }

}