/********************************************/
/* Stylesheets for authors                  */
/* Author: Miguel Ángel Ávila Rosas         */
/* Version: 0.1                             */
/* Created on: September 19, 2024           */
/* Updated on: September 19, 2024           */
/********************************************/

/************************************FONTS************************************/
@font-face {
    src: url(../../../fonts/arial.ttf);
    font-family: text_page;
  }

/******************************GENERAL STYLE**********************************/

* {box-sizing:border-box;}

html {scroll-behavior: smooth;}

body{
     margin: 0;
     font-family: text_page;
     padding: 0;
     text-align: center;
}

.grid2Footer{
    display: grid;
    grid-template-columns: 50% 50%;
}

/**********************************HEADER*************************************/

#header{
    background-color:rgb(50, 99, 205);
    color: rgb(255, 255, 255);
    height: 30%;
    margin-top: 0;
    border: 10px outset rgb(5, 8, 196);
}

/******************************NAVIGATION BAR*********************************/

#navigationBar{
    height: 100%;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 204, 0);
    border: 10px outset rgb(197, 157, 0);
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#navigationBar a {
    text-decoration: none; 
    color: #ffffff;
    padding-top: 1.25vh;
    border: 2px outset rgb(211,211,211,0.5);
 }

#navigationBar a:hover {
    background-color: rgb(172, 138, 2);
}

/**********************************MAIN CONTENT**************************************/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    border: 1px solid rgb(211,211,211,0.5);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 2vh;
}

.card a {
    text-decoration: none; 
    background-color: rgb(34, 155, 87);
    color: #ffffff;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
 }

.card a:hover {
    background-color: rgb(27, 122, 68);
}

#valuesList{
    margin: 5vh 0 5vh 15vh;

}

#calculator{
    display: grid;
    grid-template-columns: 50% 50%;
}

.values{
    width: 80%;
    height: 10vh;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid rgb(0, 0, 0);
}

#operandsList{
    margin: 10vh 24% 0 30%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.operands{
    width: 50%;
    font-size: 1.5rem;
    height: 8vh;
    margin-bottom: 5vh;
    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
}

.operands:hover{
    background-color: #bababa;
}

#result{
    margin-bottom: 5vh;
}

/**********************************FOOTER*************************************/

#footer{
    background-color:rgb(50, 99, 205);
    color: rgb(255, 255, 255);
    margin-top: 25vh;
    height: 20%;
    border: 10px outset rgb(5, 8, 196);
}

#caraFooter{
    width: 10vh;
    margin-left: 80%;
}

/***************************************MEDIA QUERIES (TABLET AND MOBILE)***************************************/

/*TABLET*/
@media only screen and (width<=880px) {

    /**********************************FOOTER*************************************/

    #caraFooter{
        width: 12.5vh;
        margin-left: 70%;
    }

}

/*MOVILE*/
@media only screen and (width<=650px) {

    /******************************NAVIGATION BAR*********************************/

    h1{
        font-size: 1.5rem;
    }

    #navigationBar a{
        font-size: 0.65em;
    }

    /*******************************MAIN CONTENT**********************************/

    .operands{
        width: 100%;
        font-size: 1.5rem;
        margin-right: 3vh;
    }

    /**********************************FOOTER*************************************/

    .grid2Footer{
        display: grid;
        grid-template-columns: 100%;
    }

    #caraFooter{
        width: 20vh;
        margin-left: 35%;
    }

}