/********************************************/
/* Stylesheets for authors                  */
/* Author: Miguel Ángel Ávila Rosas         */
/* Version: 0.1                             */
/* Created on: September 19, 2024           */
/* Updated on: September 19, 2024           */
/********************************************/

/**********************************MAIN CONTENT**************************************/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    border: 1px solid rgb(211,211,211,0.5);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 2vh;
}

.card a {
    text-decoration: none; 
    background-color: rgb(34, 155, 87);
    color: #ffffff;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
 }

.card a:hover {
    background-color: rgb(27, 122, 68);
}

.modifiers{
    width: 80%;
    height: 10vh;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid rgb(0, 0, 0);
    margin: 0 0 5vh 5vh;
    background-color: #ffffff;
}

.modifiers:hover{
    background-color: #bababa;
}

#textBox {
    width: 90%;
    height: 40vh;
    margin-bottom: 5vh;
}

#random{
margin-top: 11.25vh;
background-color: #ffbb0e;
border: 5px outset #cd960a;
color: #ffffff;
}

#random:hover{
    background-color: #cc960c;
}

#stop{
    background-color: #ff0e0e;
    border: 5px outset #c00c0c;
    color: #ffffff;
}

#stop:hover{
    background-color: #cd0d0d;
}

#fast{
    background-color: #66ff0e;
    border: 5px outset #44a60b;
    color: #ffffff;
}

#fast:hover{
    background-color: #52ca0d;
}

#slow{
    background-color: #0e22ff;
    border: 5px outset #0916a5;
    color: #ffffff;
}

#slow:hover{
    background-color: #0c1cc9;
}

#loadAPI{
    background-color: #ff0ee7;
    border: 5px outset #930885;
    color: #ffffff;
}

#loadAPI:hover{
    background-color: #b60ba5;
}

/***************************************MEDIA QUERIES (TABLET AND MOBILE)***************************************/

/*MOVILE*/
@media only screen and (width<=650px) {

    /*******************************MAIN CONTENT**********************************/

    h1{
        font-size: 1.5rem;
    }

    .modifiers{
        font-size: 1rem;
        width: 55%;
    }

    #random{
        margin-top: 12.5vh;
        background-color: #ffbb0e;
        border: 5px outset #cd960a;
        color: #ffffff;
        }

}